*{
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}

p, a{
    font-family: 'Abhaya Libre', serif;
}

h1{
    font-family: 'Montserrat', sans-serif;
}


.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    position: sticky;
    top: 0;
    background-color: #ffffff;
}

.brand-title{
    margin: 0 5rem;
    cursor: pointer;
}

.navbar-links ul{
    margin: 0;
    padding: 0;
    display: flex;
    padding: 0.5rem 0;
}

.navbar-links li{
    list-style: none;
}

.navbar-links li a{
    text-decoration: none;
    margin:0 2rem;
    font-family: serif;
    font-weight: 900;
    font-size: 17.5px;
    color: #808080;
    cursor: pointer;
}

.navbar-links li a:hover{
    color: #000000;
    border-bottom: 2px solid #035803; 
}

#current a{
    color: #000000;
    border-bottom: 2px solid #035803;
}

.toggle-button{
    position: absolute;
    top: 1.5rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar{
    height: 5px;
    width: 100%;
    background-color: #000000;
    border-radius: 10px;
}

.description{
    background: url(./images/Descr-bg.jpg);
    background-position: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
}

.description h1{
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 45px;
    padding-top: 15rem;
    color: #f5f5f5;
}

.description p{
    padding: 1rem 2rem;
    font-size: 25px;
    font-weight: bold;
    color: #f5f5f5;
}

.description button{
    margin-top: 1rem;
    padding: 1rem 2rem;
    border: 2px solid #f5f5f5;
    background-color: transparent;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.description a{
    text-decoration: none;
    color: #f5f5f5;
}

.description button:hover{
    background-color: #000000;
    cursor: pointer;
}

.about-company{
    /*background: url(./images/About-comp-bg.jpg);*/
    width: 1300px;
    height: 850px;
    background-position: bottom;
    text-align: center;
    margin: 2rem;
    border-radius: 10px 70px;
}

.about-company h3{
    font-size: 30px;
    font-style: italic;
    font-weight: bold;
    letter-spacing: 1px;
    color: #808080;
    padding-top: 15rem;
}

.about-company h1{
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-top: 0.5rem;
    color: rgb(66, 66, 66);
}

.ac-line{
    border-bottom: 10px solid #035803;
    margin: 0 15rem; 
}

.about-company p{
    padding: 2rem 3rem;
    font-size: 25px;
    font-weight: 300;
    color: #424141;
}

.about-company button{
    padding: 1rem 2rem;
    border: 2px solid #035803;
    color: #035803;
    background-color: transparent;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.about-company button:hover{
    cursor: pointer;
    background: #cfcfcf;
}

.about-company button a{
    text-decoration: none;
    color: #035803;
}

.our-work{
    background: url(./images/Our-Work-bg.jpg);
    width: 100%;
    height: 600px;
    background-repeat: no-repeat;
}
.our-work h3{
    font-size: 30px;
    padding: 13rem 0 0 12rem;
    font-weight: bold;
    letter-spacing: 1px;
    color: #808080;
}

.our-work h1{
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 0.5rem 0 0 9rem;
    color: rgb(66, 66, 66);
}

.ow-line{
    border-bottom: 10px solid #035803;
    margin: 0 66rem 0 8rem;
}

.our-work button{
    margin: 1rem 6rem;
    padding: 1rem 2rem;
    border: 2px solid #035803;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.our-work button:hover{
    cursor: pointer;
    background: #cfcfcf;
}

.our-work button a{
    text-decoration: none;
    color: #035803;
}


.worked-with{
    text-align: center; 
}

.worked-with h3{
    font-size: 30px;
    font-style: italic;
    font-weight: bold;
    letter-spacing: 1px;
    color: #808080;
    padding-top: 10rem;
}

.worked-with h1{
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-top: 0.5rem;
    color: rgb(66, 66, 66);
}

.ww-line{
    border-bottom: 10px solid #035803;
    margin: 1rem 25rem; 
}

.worked-with p{
    padding: 1rem 4rem;
    font-size: 25px;
    font-weight: 300;
    color: #424141;
}

.icons{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 2rem 0 4rem 8rem;    
}

.talk{
    text-align: center;
    background-color: #035803;
    color: #f5f5f5;
}

.talk h1{
    padding: 3rem 0 1rem 0;
}

.t-line{
    margin: 0 38rem;
    border-bottom: 4px solid #f5f5f5;
}

.talk i{
    padding: 2rem 0 5rem 0;
}

.questions{
    display: flex;
    justify-content: space-between;
    background-color: rgb(51, 51, 51);
    letter-spacing: 1px;
    padding: 3rem 20rem;
}

.qtn{
    text-align: center;
    color: #f5f5f5;
}

.qtn h3{
    font-size: 20px;
    text-transform: uppercase;

}

.qtn-line{
    padding: 0.5rem 0;
    border-bottom: 3px solid #f5f5f5;
    margin-bottom: 1rem;
}

.qtn a{
    text-decoration: none;
    color: #f5f5f5;
    padding-top: 2rem;
}

footer{
    text-align: center;
    background: #222;
    letter-spacing: 1px;
}

footer p{
    padding-top: 4rem;
    color: #f5f5f5;
    font-size: 15px;
    font-weight: bold;
}

footer h6{
    padding: 1rem 0 3rem 0;
    color: #f5f5f5;
    font-weight: 550;  
}


@media only screen and (min-device-width: 375px) and (max-device-width: 667px){
    .brand-title{
        margin: 0;
    }
    
    .toggle-button{
        display: flex;
    }

    .navbar-links{
        display: none;
        width: 100%;
    }

    .navbar{
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links li{
        text-align: center;
    }

    .navbar-links li a{
        display: block;
        margin: .5rem 1rem;
    }

    .navbar-links li a:hover{
        border-bottom: none
    }
    
    #current a{
        border-bottom: none;
    }

    .navbar-links.active{
        display: flex;
    }

    .description h1{
        padding-top: 13rem;
    }

    .about-company{
        width: 100%;
        margin: 0;
    }

    .about-company h3{
        padding-top: 5rem;
    }

    .ac-line{
        margin: 0.5rem 1rem;
    }

    .about-company p{
        text-align: center;
    }

    .our-work{
        margin-top: -4rem;
    }

    .our-work h3{
        padding: 12rem 0 0 11rem;
    }

    .our-work h1{
        padding-left: 8rem; 
    }

    .ow-line{
        margin: 0 8rem;
    }

    .ww-line{
        margin: 0 1.5rem;
    }
    
    .worked-with P{
        text-align: center;
        margin: 0;
        padding: 1rem;  
    }

    .icons{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 2rem;
        margin: 2rem 0 0 5rem;
    }

    .talk h1{
        font-size: 20px;
        padding: 1rem 0;
    }
    
    .t-line{
        margin: 0 5rem 0 5rem;
    }

    .talk i{
        padding: 1rem 0;
    }

    .questions{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding: 1rem 0;
    }

    .qtn h3{
        padding-top: 2rem;
    } 

    .qtn-line{
        margin: 0 10rem 1rem 10rem;
    }

    footer{
        text-align: center;
        background: #222;
        letter-spacing: 0.1rem;
    }

    footer p{
        padding-top: 10px;
        font-size: 15px;
    }

    footer h6{
        padding-bottom:10px;
        font-size: 10px; 
    }

}

